@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';


@theme {
    --color-base: #0F0F1A;
    --color-elevated: #131320;
    --color-brand: #892CCD;
    --color-brand-light: #A85FDD;
    --color-heading: #FFFFFF;
    --color-body: #E4E5EC;
    --color-span:#B5B6C9;
    --color-muted: #1A1B2D;
    --color-invert:#E4E5EC;
    --color-default: #1A1B2D;
    --color-strong:#FFFFFF;
}
